/* Navbar.module.css */

.navigation {
	background-color: inherit;
	/* color: #fff; */
}

.navigation button {
	display: inline-block;
  	padding: 10px 20px;
  	font-size: 16px;
  	font-weight: bold;
  	text-align: center;
  	text-decoration: none;
  	border: none;
  	border-radius: 20px;
  	background-color: #ff5733;
  	color: #fff;
  	cursor: pointer;
  	transition: background-color 0.3s, color 0.3s;
	margin-right: 30px;
	font-family: 'Montserrat';
	display: none;
}
  
.navlist {
	list-style: none;
	display: flex;
	gap: 1rem;
	padding: 0;
	margin: 0;
}

.navlist li {
	display: inline-block; /* Display list items horizontally */
	margin-right: 15px; /* Adjust spacing between list items */
}

.navlist li a {
	text-decoration: none;
	color: #333; /* Customize link color */
	font-weight: bold;
	transition: color 0.3s ease;
}

.navlist li a:hover {
	color: #ff5733; /* Change link color on hover */
}
  
.navlist li a:last-child {
	margin-right: 30px;
}

.menuToggle {
	display: none;
}


@media (max-width: 768px) {
	.menuToggle {
	  display: block;
	  background: none;
	  border: none;
	  /* cursor: pointer; */
	}
  
	.bar {
	  width: 30px;
	  height: 3px;
	  background-color: #fff;
	  margin: 6px 0;
	  transition: background-color 0.3s;
	}
  
	.open .bar {
	  background-color: #333;
	}
  
	.navlist {
	  display: none;
	  flex-direction: column;
	  align-items: center;
	  background-color: #333;
	  position: absolute;
	  top: 100%;
	  left: 0;
	  width: 100%;
	  transform: translateY(-100%);
	  transition: transform 0.3s;
	}
  
	.open .navlist {
	  transform: translateY(0);
	}
  
	.navlist li {
	  margin: 10px 0;
	}

	.navigation button {
		display: block;
	}
}
  