.addToCartButton {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.2s ease-in-out;
}
  
.addToCartButton:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}