/* Menu Page */
.menuPage {
  text-align: center;
  /* padding: 10px; */
  font-family: 'Space Grotesk';
}

/* Menu Container */
.container {
  display: flex; /* Default to flexbox for larger screens */
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items */
  gap: 10px; /* Space between items */
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Adjust the max-width as needed */
  .container {
    display: grid; /* Use grid layout for mobile */
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 10px; /* Space between grid items */
  }
}

/* Menu Item */
.menuItem {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%; /* Change to 100% to fill the grid cell */
  transition: transform 0.2s ease-in-out;
}

.menuItem:hover {
  transform: scale(1.02);
}

/* Menu Item Image */
.menuItemImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Menu Item Title */
.menuItemTitle {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Menu Item Price */
.menuItemPrice {
  font-weight: bold;
}
